src/solutions/PowerNotify_Samples/extract/Workflows/NotifyOwnerofupdatedAccount-A760CEEC-B5E2-EA11-A813-000D3A86BD1A.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_Account_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"account","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Notification_Channel":{"runAfter":{"Check_if_Owner_and_Modifier_are_the_same":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tda_notificationchannels","$filter":"tda_name eq 'Owning Account Updated' and statecode eq 1","$top":1},"authentication":"@parameters('$authentication')"}},"Create_a_Notification_Message":{"runAfter":{"Get_modifying_User":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tda_notificationmessages","item/tda_NotificationChannel_tda_NotificationMessage@odata.bind":"@outputs('Get_Notification_Channel')?['body/value']?[0]?['tda_notificationchannelid']","item/subject":"The Account '@{triggerOutputs()?['body/name']}' has just been updated","item/description":"The Account '@{triggerOutputs()?['body/name']}' has been updated by @{outputs('Get_modifying_User')?['body/fullname']} which you own. ","item/entityimage":"@outputs('Get_Account''s_entity_image')?['body']","item/ownerid_tda_notificationmessage@odata.bind":"@triggerOutputs()?['body/_ownerid_value']","item/regardingobjectid_account_tda_notificationmessage@odata.bind":"@triggerOutputs()?['body/accountid']"},"authentication":"@parameters('$authentication')"}},"Get_Account's_entity_image":{"runAfter":{"Get_Notification_Channel":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetEntityFileImageFieldContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/accountid']","fileImageFieldName":"entityimage"},"authentication":"@parameters('$authentication')"}},"Check_if_Owner_and_Modifier_are_the_same":{"actions":{"Owner_and_Modifier_are_the_same":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/_ownerid_value']","@triggerOutputs()?['body/_modifiedby_value']"]},"type":"If"},"Get_modifying_User":{"runAfter":{"Get_Account's_entity_image":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_modifiedby_value']","$select":"fullname"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}