src/solutions/PowerNotify_Samples/extract/Workflows/NotifyOwnerofassignedTask-6402BD01-54EC-EA11-A815-000D3A86BD1A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Task_is_created_or_assigned": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "task",
              "subscriptionRequest/scope": 2,
              "subscriptionRequest/filteringattributes": "ownerid",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Check_if_Owner_and_Modifier_are_the_same": {
          "actions": {
            "Owner_and_Modifier_are_the_same": {
              "runAfter": {},
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/_ownerid_value']",
              "@triggerOutputs()?['body/_modifiedby_value']"
            ]
          },
          "type": "If"
        },
        "Get_Notification_Channel": {
          "runAfter": {
            "Check_if_Owner_and_Modifier_are_the_same": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "tda_notificationchannels",
              "$filter": "tda_name eq 'Task Assigned' and statecode eq 0",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_modifying_User": {
          "runAfter": {
            "Check_if_Notification_Channel_was_found": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_modifiedby_value']",
              "$select": "fullname"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_a_Notification_Message": {
          "runAfter": {
            "Get_modifying_User": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "tda_notificationmessages",
              "item/tda_NotificationChannel_tda_NotificationMessage@odata.bind": "/tda_notificationchannels(@{outputs('Get_Notification_Channel')?['body/value']?[0]?['tda_notificationchannelid']})",
              "item/subject": "You've just been assigned a task",
              "item/description": "The Task '@{triggerOutputs()?['body/subject']}' has been assigned to you by @{outputs('Get_modifying_User')?['body/fullname']}. ",
              "item/ownerid_tda_notificationmessage@odata.bind": "/@{triggerOutputs()?['body/_ownerid_type']}(@{triggerOutputs()?['body/_ownerid_value']})"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Check_if_Notification_Channel_was_found": {
          "actions": {
            "No_Notification_Channel_found": {
              "runAfter": {},
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "NotificationChannelNotFound",
                  "message": "No Notification Channel found"
                }
              }
            }
          },
          "runAfter": {
            "Get_Notification_Channel": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@length(outputs('Get_Notification_Channel')?['body/value'])",
              0
            ]
          },
          "type": "If"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}