Solutions/PowerNotify/Extract/Workflows/NotifyUserwhenaMessageownedbyaUseriscreated-02394551-B621-EA11-A810-000D3A294639.json
{
  "properties": {
    "connectionReferences": {
      "shared_tda-5fweb-20push-20forwarding-20service-5f774f073046973314": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_tda-5fweb-20push-20forwarding-20service-5f05d6221bd4787e4f",
          "logicalName": "tda_5Fweb-20push-20forwarding-20service"
        }
      },
      "shared_powerappsnotification": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_powerappsnotification"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sendmail": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_sendmail"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Message_is_created": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "tda_notificationmessage",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@equals(triggerBody()?['_ownerid_type'], 'systemusers')"
            }
          ],
          "description": "Tigger conditions have been applied."
        }
      },
      "actions": {
        "For_each_Channel_Subscription_to_Notify": {
          "foreach": "@outputs('Retrieve_Channel_Subscriptions')?['body/value']",
          "actions": {
            "User_opted_for_Mobile_Push": {
              "actions": {
                "Send_push_notification": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_powerappsnotification",
                      "operationId": "SendPushNotification",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsnotification"
                    },
                    "parameters": {
                      "payload/recipients": [
                        "@outputs('Retrieve_Owning_User_of_Message')?['body/domainname']"
                      ],
                      "payload/message": "@{triggerOutputs()?['body/subject']}@{if(empty(triggerOutputs()?['body/description']), '', concat(' - ', triggerOutputs()?['body/description']))}",
                      "payload/openApp": true,
                      "payload/params": {
                        "subject": "@encodeUriComponent(encodeUriComponent(triggerOutputs()?['body/subject']))",
                        "description": "@encodeUriComponent(encodeUriComponent(triggerOutputs()?['body/description']))",
                        "regardingurl": "@encodeUriComponent(encodeUriComponent(variables('Regarding Record URL')))",
                        "id": "@if(contains(items('For_each_Channel_Subscription_to_Notify')?['tda_notificationmethod'], string('751410002')), encodeUriComponent(encodeUriComponent(triggerOutputs()?['body/activityid'])), '')"
                      }
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "contains": [
                  "@items('For_each_Channel_Subscription_to_Notify')?['tda_notificationmethod']",
                  "@string('751410003')"
                ]
              },
              "type": "If"
            },
            "User_opted_for_Notification_Tray": {
              "actions": {
                "Update_Message": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "tda_notificationmessages",
                      "recordId": "@triggerOutputs()?['body/activityid']",
                      "item/statecode": 1,
                      "item/tda_onclickurl": "@variables('Regarding Record URL')",
                      "item/statuscode": 2
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "contains": [
                  "@items('For_each_Channel_Subscription_to_Notify')?['tda_notificationmethod']",
                  "@string('751410002')"
                ]
              },
              "type": "If"
            },
            "User_opted_for_Web_Push": {
              "actions": {
                "Retrieve_User's_Web_Push_Subscriptions": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "tda_webpushsubscriptions",
                      "$filter": "owninguser/systemuserid eq @{triggerOutputs()?['body/_ownerid_value']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "For_each_Web_Push_Subscription": {
                  "foreach": "@outputs('Retrieve_User''s_Web_Push_Subscriptions')?['body/value']",
                  "actions": {
                    "Send_Notification": {
                      "runAfter": {},
                      "metadata": {
                        "flowSystemMetadata": {
                          "swaggerOperationId": "notify"
                        }
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['shared_tda-5fweb-20push-20forwarding-20service-5f774f073046973314']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "subscription": "@json(items('For_each_Web_Push_Subscription')?['tda_subscriptionobject'])",
                          "payload": {
                            "title": "@triggerOutputs()?['body/subject']",
                            "message": "@triggerOutputs()?['body/description']",
                            "url": "@variables('Regarding Record URL')",
                            "record": {
                              "type": "@{triggerOutputs()?['body/_regardingobjectid_type']}",
                              "id": "@triggerOutputs()?['body/_regardingobjectid_value']"
                            }
                          }
                        },
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "path": "/ForwardNotification",
                        "parameters": {
                          "body/subscription": "@json(items('For_each_Web_Push_Subscription')?['tda_subscriptionobject'])",
                          "body/payload/title": "@triggerOutputs()?['body/subject']",
                          "body/payload/message": "@triggerOutputs()?['body/description']",
                          "body/payload/record/type": "@triggerOutputs()?['body/_regardingobjectid_type']",
                          "body/payload/record/id": "@triggerOutputs()?['body/_regardingobjectid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Inactivate_the_Subscription_": {
                      "runAfter": {
                        "Send_Notification": [
                          "Failed"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "tda_webpushsubscriptions",
                          "recordId": "@items('For_each_Web_Push_Subscription')?['tda_webpushsubscriptionid']",
                          "item/statecode": 1,
                          "item/statuscode": 2
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Retrieve_User's_Web_Push_Subscriptions": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {},
              "expression": {
                "contains": [
                  "@items('For_each_Channel_Subscription_to_Notify')?['tda_notificationmethod']",
                  "@string('751410000')"
                ]
              },
              "type": "If"
            },
            "User_opted_for_Email": {
              "actions": {
                "Send_an_email_notification_(V3)": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sendmail",
                      "operationId": "SendEmailV3",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                    },
                    "parameters": {
                      "request/to": "@{outputs('Retrieve_Owning_User_of_Message')?['body/internalemailaddress']};",
                      "request/subject": "[Automated Notification] @{triggerOutputs()?['body/subject']}",
                      "request/text": "<p>@{if(empty(triggerOutputs()?['body/description']), triggerOutputs()?['body/subject'], triggerOutputs()?['body/description'])}<br>\n<br>\n<a href=\"@{variables('Regarding Record URL')}\">@{variables('Regarding Record URL')}</a><br>\n<br>\n<em>This is an automated email, please do not reply. Your recieved this becasue you are subscribed to a channel. To stop, manage your subscriptions on your user record.</em></p>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "contains": [
                  "@items('For_each_Channel_Subscription_to_Notify')?['tda_notificationmethod']",
                  "@string('751410001')"
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Retrieve_Channel_Subscriptions": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Initialize_\"Regarding_Record_URL\"": {
          "runAfter": {
            "Set_\"App_Id\"": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Regarding Record URL",
                "type": "String"
              }
            ]
          }
        },
        "Retrieve_Channel_Subscriptions": {
          "runAfter": {
            "Set_\"Regarding_Record_URL\"": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "tda_notificationsubscriptions",
              "$filter": "_owninguser_value eq @{triggerOutputs()?['body/_ownerid_value']} and _tda_notificationchannel_value eq @{triggerOutputs()?['body/_tda_notificationchannel_value']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_\"App_Id\"": {
          "runAfter": {
            "Initialize_\"Base_URL\"": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "App Id",
                "type": "String"
              }
            ]
          }
        },
        "Retrieve_Owning_User_of_Message": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_ownerid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_\"Base_URL\"": {
          "runAfter": {
            "Retrieve_Owning_User_of_Message": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Base URL",
                "type": "string",
                "value": "@{first(split(outputs('Retrieve_Owning_User_of_Message')?['body']?['@odata.id'],'/api/'))}"
              }
            ]
          }
        },
        "Set_\"Regarding_Record_URL\"": {
          "actions": {
            "Set_\"Regarding_Record_URL\"_to_a_record": {
              "runAfter": {},
              "type": "SetVariable",
              "inputs": {
                "name": "Regarding Record URL",
                "value": "@{variables('Base URL')}/main.aspx?appid=@{variables('App Id')}&pagetype=entityrecord&etn=@{substring(triggerOutputs()?['body/_regardingobjectid_type'], 0, sub(length(triggerOutputs()?['body/_regardingobjectid_type']), 1))}&id=@{triggerOutputs()?['body/_regardingobjectid_value']}"
              }
            }
          },
          "runAfter": {
            "Initialize_\"Regarding_Record_URL\"": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_\"Regarding_Record_URL\"_to_home": {
                "runAfter": {},
                "type": "SetVariable",
                "inputs": {
                  "name": "Regarding Record URL",
                  "value": "@{variables('Base URL')}/main.aspx?appid=@{variables('App Id')}"
                }
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_regardingobjectid_value']",
                "@null"
              ]
            }
          },
          "type": "If"
        },
        "Set_\"App_Id\"": {
          "actions": {
            "Set_App_ID_from_User": {
              "runAfter": {},
              "type": "SetVariable",
              "inputs": {
                "name": "App Id",
                "value": "@outputs('Retrieve_Owning_User_of_Message')?['body/tda_appidtoopenmessages']"
              }
            }
          },
          "runAfter": {
            "Initialize_\"App_Id\"": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_Default_App_Ids": {
                "runAfter": {},
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "environmentvariabledefinitions",
                    "$filter": "schemaname eq 'tda_DefaultAppId'",
                    "$expand": "environmentvariabledefinition_environmentvariablevalue"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Set_App_Id_from_Environment": {
                "runAfter": {
                  "Get_Default_App_Ids": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "App Id",
                  "value": "@{if(\n  greater(\n    length(\n      first(\n        body('Get_Default_App_Ids')?['value']\n      )?['environmentvariabledefinition_environmentvariablevalue']\n    ),\n    0\n  ),\n  first(\n    first(\n      body('Get_Default_App_Ids')?['value']\n    )?['environmentvariabledefinition_environmentvariablevalue']\n  )?['value'],\n  first(\n    body('Get_Default_App_Ids')?['value']\n  )?['defaultvalue']\n)}"
                }
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@outputs('Retrieve_Owning_User_of_Message')?['body/tda_appidtoopenmessages']",
                "@null"
              ]
            }
          },
          "type": "If"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}