Solutions/PowerNotify/Extract/Workflows/NotifyUserwhenaMessageiscreated-02394551-B621-EA11-A810-000D3A294639.json
{
  "properties": {
    "connectionReferences": {
      "shared_tda-5fweb-20push-20forwarding-20service-5f774f073046973314": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_tda-5fweb-20push-20forwarding-20service-5f774f073046973314",
          "logicalName": "tda_5Fweb-20push-20forwarding-20service"
        }
      },
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_powerappsnotification": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_powerappsnotification"
        }
      },
      "shared_sendmail": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_sendmail"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Message_is_created": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "tda_notificationmessage",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/name": "02394551-b621-ea11-a810-000d3a294639"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_\"User_IDs_to_Notify\"": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "User IDs to Notify",
                "type": "Array"
              }
            ]
          }
        },
        "Get_User's_Channel_Subscriptions": {
          "actions": {
            "Prepare_each_User_ID_for_query": {
              "runAfter": {
                "For_each_Party_Member_of_Message": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@variables('User IDs to Notify')",
                "select": "@concat('<value uitype=\"systemuser\">',item(),'</value>')"
              }
            },
            "Join_prepared_User_IDs_for_query": {
              "runAfter": {
                "Prepare_each_User_ID_for_query": [
                  "Succeeded"
                ]
              },
              "type": "Join",
              "inputs": {
                "from": "@body('Prepare_each_User_ID_for_query')",
                "joinWith": "@{''}"
              }
            },
            "Retrieve_Channel_Subscriptions": {
              "runAfter": {
                "Join_prepared_User_IDs_for_query": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "entityName": "tda_notificationsubscriptions",
                  "fetchXml": "<fetch distinct=\"false\" mapping=\"logical\" output-format=\"xml-platform\" version=\"1.0\"><entity name=\"tda_notificationsubscription\"><attribute name=\"tda_name\"/><attribute name=\"ownerid\"/><attribute name=\"tda_notificationmethod\"/><filter type=\"and\"><condition value=\"@{triggerOutputs()?['body/_tda_notificationchannel_value']}\" uitype=\"tda_notificationchannel\" operator=\"eq\" attribute=\"tda_notificationchannel\"/>\\n<condition operator=\"in\" attribute=\"ownerid\">@{body('Join_prepared_User_IDs_for_query')}</condition></filter></entity></fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Retrieve_Activity_Parties_for_Message": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "entityName": "activityparties",
                  "$filter": "participationtypemask eq 2 and _activityid_value eq @{triggerOutputs()?['body/activityid']}",
                  "$expand": "partyid_systemuser($select=systemuserid)"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "For_each_Party_Member_of_Message": {
              "foreach": "@outputs('Retrieve_Activity_Parties_for_Message')?['body/value']",
              "actions": {
                "Append_User_ID_to_be_Notified": {
                  "runAfter": {},
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "User IDs to Notify",
                    "value": "@items('For_each_Party_Member_of_Message')?['partyid_systemuser']?['systemuserid']"
                  }
                }
              },
              "runAfter": {
                "Retrieve_Activity_Parties_for_Message": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_\"Regarding_Record_URL\"": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "For_each_Channel_Subscription_to_Notify": {
          "foreach": "@outputs('Retrieve_Channel_Subscriptions')?['body/value']",
          "actions": {
            "Retrieve_Owing_User_of_Subscription": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@items('For_each_Channel_Subscription_to_Notify')?['_ownerid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "User_opted_for_Web_Push": {
              "actions": {
                "Retrieve_User's_Web_Push_Subscriptions": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "entityName": "tda_webpushsubscriptions",
                      "$filter": "owninguser/systemuserid eq @{items('For_each_Channel_Subscription_to_Notify')?['_ownerid_value']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "For_each_Web_Push_Subscription": {
                  "foreach": "@outputs('Retrieve_User''s_Web_Push_Subscriptions')?['body/value']",
                  "actions": {
                    "Send_Notification": {
                      "runAfter": {},
                      "metadata": {
                        "flowSystemMetadata": {
                          "swaggerOperationId": "notify"
                        }
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['shared_tda-5fweb-20push-20forwarding-20service-5f774f073046973314']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "subscription": "@json(items('For_each_Web_Push_Subscription')?['tda_subscriptionobject'])",
                          "payload": {
                            "title": "@{triggerOutputs()?['body/subject']}",
                            "message": "@triggerOutputs()?['body/description']",
                            "url": "@variables('Regarding Record URL')",
                            "record": {
                              "type": "@{triggerOutputs()?['body/_regardingobjectid_type']}",
                              "id": "@{triggerOutputs()?['body/_regardingobjectid_value']}"
                            }
                          }
                        },
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "path": "/notify",
                        "parameters": {
                          "body/subscription": "@json(items('For_each_Web_Push_Subscription')?['tda_subscriptionobject'])",
                          "body/payload/title": "@triggerOutputs()?['body/subject']",
                          "body/payload/message": "@triggerOutputs()?['body/description']",
                          "body/payload/record/type": "@triggerOutputs()?['body/_regardingobjectid_type']",
                          "body/payload/record/id": "@triggerOutputs()?['body/_regardingobjectid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Retrieve_User's_Web_Push_Subscriptions": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Retrieve_Owing_User_of_Subscription": [
                  "Succeeded"
                ]
              },
              "expression": {
                "contains": [
                  "@items('For_each_Channel_Subscription_to_Notify')?['tda_notificationmethod']",
                  "@string('751410000')"
                ]
              },
              "type": "If"
            },
            "User_opted_for_Mobile_Push": {
              "actions": {
                "Send_push_notification": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsnotification",
                      "connectionName": "shared_powerappsnotification",
                      "operationId": "SendPushNotification"
                    },
                    "parameters": {
                      "payload/recipients": [
                        "@outputs('Retrieve_Owing_User_of_Subscription')?['body/domainname']"
                      ],
                      "payload/message": "@{triggerOutputs()?['body/subject']}@{if(empty(triggerOutputs()?['body/description']), '', concat(' - ', triggerOutputs()?['body/description']))}",
                      "payload/openApp": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "User_opted_for_Web_Push": [
                  "Succeeded"
                ]
              },
              "expression": {
                "contains": [
                  "@items('For_each_Channel_Subscription_to_Notify')?['tda_notificationmethod']",
                  "@string('751410003')"
                ]
              },
              "type": "If"
            },
            "User_opted_for_Email": {
              "actions": {
                "Send_an_email_notification_(V3)": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail",
                      "connectionName": "shared_sendmail",
                      "operationId": "SendEmailV3"
                    },
                    "parameters": {
                      "request/to": "@{outputs('Retrieve_Owing_User_of_Subscription')?['body/internalemailaddress']};",
                      "request/subject": "[Automated Notification] @{triggerOutputs()?['body/subject']}",
                      "request/text": "<p>@{if(empty(triggerOutputs()?['body/description']), triggerOutputs()?['body/subject'], triggerOutputs()?['body/description'])}<br>\n<br>\n<a href=\"@{variables('Regarding Record URL')}\">@{variables('Regarding Record URL')}</a> <br>\n<br>\n<em>This is an automated email, please do not reply. Your recieved this becasue you are subscribed to a channel. To stop, manage your subscriptions on your user record.</em></p>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Retrieve_Owing_User_of_Subscription": [
                  "Succeeded"
                ]
              },
              "expression": {
                "contains": [
                  "@items('For_each_Channel_Subscription_to_Notify')?['tda_notificationmethod']",
                  "@string('751410001')"
                ]
              },
              "type": "If"
            },
            "User_opted_for_Notification_Tray": {
              "actions": {
                "Update_Message": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord"
                    },
                    "parameters": {
                      "entityName": "tda_notificationmessages",
                      "recordId": "@triggerOutputs()?['body/activityid']",
                      "item/statecode": 1,
                      "item/tda_onclickurl": "@variables('Regarding Record URL')",
                      "item/statuscode": 2
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "User_opted_for_Email": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Delete_Message": {
                    "runAfter": {},
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "DeleteRecord"
                      },
                      "parameters": {
                        "entityName": "tda_notificationmessages",
                        "recordId": "@triggerOutputs()?['body/activityid']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "contains": [
                  "@items('For_each_Channel_Subscription_to_Notify')?['tda_notificationmethod']",
                  "@string('751410002')"
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_Regarding_Record_URL": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Initialize_\"Regarding_Record_URL\"": {
          "runAfter": {
            "Initialize_\"User_IDs_to_Notify\"": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Regarding Record URL",
                "type": "String"
              }
            ]
          }
        },
        "Get_Regarding_Record_URL": {
          "actions": {
            "Get_Default_App_Ids": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "entityName": "environmentvariabledefinitions",
                  "$filter": "schemaname eq 'tda_DefaultAppId'",
                  "$expand": "environmentvariabledefinition_environmentvariablevalue"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Regarding_record_exist": {
              "actions": {
                "Set_\"Regarding_Record_URL\"_to_a_record": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Regarding Record URL",
                    "value": "@{first(split(first(outputs('Get_Default_App_Ids')?['body/value'])?['@odata.id'],'/api/'))\n}/main.aspx?appid=@{if(\n  greater(\n    length(\n      first(\n        body('Get_Default_App_Ids')?['value']\n      )?['environmentvariabledefinition_environmentvariablevalue']\n    ),\n    0\n  ),\n  first(\n    first(\n      body('Get_Default_App_Ids')?['value']\n    )?['environmentvariabledefinition_environmentvariablevalue']\n  )?['value'],\n  first(\n    body('Get_Default_App_Ids')?['value']\n  )?['defaultvalue']\n)}&pagetype=entityrecord&etn=@{substring(triggerOutputs()?['body/_regardingobjectid_type'], 0, sub(length(triggerOutputs()?['body/_regardingobjectid_type']), 1))}&id=@{triggerOutputs()?['body/_regardingobjectid_value']}"
                  }
                }
              },
              "runAfter": {
                "Get_Default_App_Ids": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_\"Regarding_Record_URL\"_to_home": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Regarding Record URL",
                      "value": "@{first(split(first(outputs('Get_Default_App_Ids')?['body/value'])?['@odata.id'],'/api/'))\n}/main.aspx?appid=@{if(\r\n  greater(\r\n    length(\r\n      first(\r\n        body('Get_Default_App_Ids')?['value']\r\n      )?['environmentvariabledefinition_environmentvariablevalue']\r\n    ),\r\n    0\r\n  ),\r\n  first(\r\n    first(\r\n      body('Get_Default_App_Ids')?['value']\r\n    )?['environmentvariabledefinition_environmentvariablevalue']\r\n  )?['value'],\r\n  first(\r\n    body('Get_Default_App_Ids')?['value']\r\n  )?['defaultvalue']\r\n)}"
                    }
                  }
                }
              },
              "expression": {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/_regardingobjectid_value']",
                    "@null"
                  ]
                }
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_User's_Channel_Subscriptions": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}